<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      三角形を作ろう
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="wrapper">

    <div id="left-side">

      <!-- PieBox コンポーネントを読み込む -->
      <app-pie-box></app-pie-box>
      
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>

      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>

      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>

    </div>

    <div id="right-side">
      <p style="text-align: center;">置き場所</p>
    </div>

  </div>

</ion-content>
